@page "/users"
@rendermode InteractiveServer
@inject LibraryContext Db
@inject library.Services.DatabaseService DbService
@using library.Components

@code {
	private string EditUserDataBtnText = "Edytuj";
	private bool notEditable = true;
	private Client currentClient = new Client();
	private string? newName;
	private string? newSurname;
	private string? newPesel;


	private string clientNameFilter = "";
	private string clientSurnameFilter = "";
	private string clientPeselFilter = "";

	private void onClientNameFilter(ChangeEventArgs e)
	{
		clientNameFilter = (e.Value ?? "").ToString() ?? "";
	}

	private void onClientSurnameFilter(ChangeEventArgs e)
	{
		clientSurnameFilter = (e.Value ?? "").ToString() ?? "";
	}

	private void onClientPeselFilter(ChangeEventArgs e)
	{
		clientPeselFilter = (e.Value ?? "").ToString() ?? "";
	}

	private void OnEditUserData()
	{
		if (EditUserDataBtnText == "Edytuj")
		{
			EditUserDataBtnText = "Zapisz";
			notEditable = false;
		}
		else if (EditUserDataBtnText == "Zapisz")
		{
			currentClient.Name = newName;
			currentClient.Surname = newSurname;
			currentClient.Pesel = newPesel;
			Db.SaveChanges();
			EditUserDataBtnText = "Edytuj";
			notEditable = true;
		}
	}

	private void setClient(Client client)
	{
		currentClient = client;
		newName = client.Name;
		newSurname = client.Surname;
		newPesel = client.Pesel;
	}

	private List<Client> getClients()
	{
		var clients = (from client in Db.Clients
                 where (client.Name ?? "").Contains(clientNameFilter ?? "")
                    && (client.Surname ?? "").Contains(clientSurnameFilter ?? "")
                    && (client.Pesel ?? "").Contains(clientPeselFilter ?? "")
                 select client).ToList();
		
		return clients;
	}
}

<PageTitle>Przeszukiwanie użytkowników</PageTitle>

@* MAIN PAGE *@
<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" @oninput=@onClientNameFilter type="text" class="form-control" id="NameInput" placeholder="Imię">
			<input style="margin:10px" @oninput=@onClientSurnameFilter type="text" class="form-control" id="SurnameInput" placeholder="Nazwisko">
			<input style="margin:10px" @oninput=@onClientPeselFilter type="text" class="form-control" id="PeselInput" placeholder="PESEL">
			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#AddUserModal">
				Dodaj użytkownika
			</button>

			@* LIST OF USERS FROM SEARCH *@
			<div style="margin:10px" class="list-group">
				@foreach (var client in getClients())
				{
					<button type="button" class="list-group-item list-group-item-action" @onclick="() => setClient(client)">
						@($"{client.Name} {client.Surname} {client.Pesel}")
					</button>
				}
			</div>
		</div>

		@* CHOSEN USER *@
		<div class="col-md-10">
			Dane
			<div class="row">
				<div class="d-flex justify-content-between">

					@* PERSONAL DATA *@
					<div class="d-flex">
						<input style="margin:10px" @bind-value=@newName type="text" class="form-control" id="NameData"
							placeholder="Imię" readonly="@notEditable">
						<input style="margin:10px" @bind-value=@newSurname type="text" class="form-control"
							id="SurnameData" placeholder="Nazwisko" readonly="@notEditable">
						<input style="margin:10px" @bind-value=@newPesel type="text" class="form-control" id="PeselData"
							placeholder="Pesel" readonly="@notEditable">
						<button style="margin:10px" type="button" class="btn btn-primary" id="EditUserDataBtn"
							@onclick="OnEditUserData">@EditUserDataBtnText</button>
					</div>

					@* ADD RENTAL BUTTON *@
					<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
						data-bs-target="#AddRental">
						Dodaj wypożyczenie
					</button>
				</div>
			</div>

			<ul class="list-group overflow-auto shadow" id="BooksList" style="margin:10px; height: 80vh">
				@foreach (var rental in Db.Rentals.Where(rent => rent.Id_client == currentClient.Id).ToList())
				{

					var startDate = DateOnly.FromDateTime(rental.Date);
					var endDate = DateOnly.FromDateTime(rental.Deadline);
					var copyInventoryId = @Db.Copies.Where(Copy => Copy.Id == rental.Id_copy).First().Id_inventory;
					var bookTitle = @Db.Books.Where(book => book.Id == Db.Copies.Where(Copy => Copy.Id ==
					rental.Id_copy).First().Id_book).First().Title;

					<li class="list-group-item">
						Tytuł: @bookTitle
						<br>
						Data wypożyczenia: @startDate
						<br>
						Termin oddadnia: @endDate
						<br>
						ID inwentarza: @copyInventoryId
						<br>

					</li>
				}
			</ul>
		</div>

	</div>
</div>

@* ADD USER MODAL *@
<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj Użytkownika</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

@* ADD RENTAL MODAL *@
<div class="modal fade" id="AddRental" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj wypożyczenie</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
